@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .hoverEffect{
        @apply cursor-pointer hover:bg-gray-200 rounded-full w-[52px] xl:w-auto h-[52px] xl:h-auto xl:p-3
        
    }
}

.tweetPostShadow {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

/* problem:

https://github.com/tailwindlabs/tailwindcss/discussions/8857 
https://marketplace.visualstudio.com/items?itemName=bradlc.vscode-tailwindcss
*/